ReportWS/ReportWS/WebContent/wsdl/MainReport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main.sonnc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main.sonnc" xmlns:intf="http://main.sonnc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main.sonnc" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="mainReportJasperWS">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
      <element name="nameTemplate" type="xsd:string"/>
      <element name="fileType" type="xsd:string"/>
      <element name="ip1" type="xsd:int"/>
      <element name="ip2" type="xsd:int"/>
      <element name="ip3" type="xsd:int"/>
      <element name="sp1" type="xsd:string"/>
      <element name="sp2" type="xsd:string"/>
      <element name="sp3" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainReportJasperWSResponse">
    <complexType>
     <sequence>
      <element name="mainReportJasperWSReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainReportJasperWSRequest">

      <wsdl:part element="impl:mainReportJasperWS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainReportJasperWSResponse">

      <wsdl:part element="impl:mainReportJasperWSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MainReport">

      <wsdl:operation name="mainReportJasperWS">

         <wsdl:input message="impl:mainReportJasperWSRequest" name="mainReportJasperWSRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainReportJasperWSResponse" name="mainReportJasperWSResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MainReportSoapBinding" type="impl:MainReport">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="mainReportJasperWS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainReportJasperWSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainReportJasperWSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MainReportService">

      <wsdl:port binding="impl:MainReportSoapBinding" name="MainReport">

         <wsdlsoap:address location="http://localhost:8080/ReportWS/services/MainReport"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
